@model IEnumerable<DulceSabor.Models.pedidos>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h2>Pedidos en preparación</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mesa</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.id_mesa</td>
                    <td>@pedido.estado</td>
                    <td>
                        <a asp-action="Detalle" asp-route-id="@pedido.id_pedido" class="btn btn-info">Detalle</a>
                        <form asp-action="ActualizarEstado" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@pedido.id_pedido" />
                            <button type="submit" class="btn btn-warning">Actualizar Estado</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>
